#heroSection {
  height: 66vh;
}


/* ----------------------------------SUBHERO_SEARCH SECTION------------------------------------ */
#searchHeroSection {
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .searchInpuwhitetField:focus {
    box-shadow: none !important;
    border: 1.5px solid whitesmoke;
  }
  .formSearch2 {
    border: 2px solid whitesmoke;
    width: 100%;
  }
  .searchInputField::placeholder {
    color: whitesmoke !important;
  }
  #basic-addon2 {
    background-color: whitesmoke !important;
  }