@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Raleway:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Slabo+27px&display=swap");
:root {
  --primary-Yellow: rgb(246, 180, 56);
  --primary-Sand: #d9c49c;
  --primary-Green: #1c594f;
  --primary-Blue: #1c3659;
  --primary-BlueLight: #696bf4;
  --primary-BlueDark: #171b26;
  --primary-Light: #fff5e1;
  --primary-Gray: #757474c8;
}

/* --------------------------------------------PAGINATION-------------------------------------------------- */
html,
body,
#root {
  height: 100%;
}
body * {
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Raleway", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Slabo 27px", serif; */
  /* font-weight: 700; */
}
body {
  background: linear-gradient(
    to bottom,

    var(--primary-BlueLight),
    var(--primary-BlueLight),
    var(--primary-BlueLight),
    rgb(120, 120, 120),
    var(--primary-BlueLight)
  );
}

#landingPage,
#accountPage,
#activityPage,
#articlesPage,
#artistPage,
#loginPage,
#blogPage,
#contactsPage,
#page404,
#EventsPage {
  z-index: 3;
  background: url("/public/assets/images/details&logo/ondasingolablue.png");
  background-color: rgba(0, 0, 0, 0.45);
}
.darker {
  background: linear-gradient(
    to bottom,

    transparent,
    rgba(14, 5, 47, 0.45),
    rgba(0, 0, 0, 0.45),
    transparent
  );
}

#blogPage h1,
#EventsPage .title {
  height: 90vh;
}
.searchInputField {
  color: white !important;
}
input {
  box-shadow: none !important;
}

#page404,
#EventsPage,
#contactsPage {
  height: 100%;
}
#footer {
  background-color: var(--primary-BlueDark);
}
/* -------------------------------------------MAIN SPECIFICS--------------------------------------------------- */
.text-yellow {
  color: var(--primary-Yellow);
}
.text-sand {
  color: var(--primary-Sand);
}
.text-blueLight {
  color: var(--primary-BlueLight);
}
.text-blue {
  color: var(--primary-Blue);
}
.text-green {
  color: var(--primary-Green);
}
.text-blueDark {
  color: var(--primary-BlueDark);
}
.text-gray {
  color: var(--primary-Gray);
}
.bg-yellow {
  background-color: var(--primary-Yellow);
}
.bg-sand {
  background-color: var(--primary-Sand);
}
.bg-blue {
  background-color: var(--primary-Blue);
}
.bg-blueLight {
  background-color: var(--primary-BlueLight);
}
.bg-bluedark {
  background-color: var(--primary-BlueDark);
}
.border-yellow {
  border-color: var(--primary-Yellow);
}
.small {
  font-size: 0.9em;
}
.smaller {
  font-size: 0.8em;
}
.extrasmall {
  font-size: 0.7em;
}

/* ------------------------------------------------------------------------------------------------- */
.loginsignin {
  color: var(--primary-BlueDark);
  transition: all 0.6s;
  width: 270px;
}
.loginsignin:hover {
  cursor: pointer;
  color: var(--primary-Sand);
  scale: 1.06;
}

.pointer:hover {
  cursor: pointer;
}

.btn {
  background-color: var(--primary-Light) !important;
  transition: all 0.6s !important;
  border: 1px solid var(--primary-BlueDark) !important;
  color: var(--primary-Yellow) !important;
}
.btn:hover {
  background-color: var(--primary-Blue) !important;
  color: white !important;
}
.btn.selectedBtn {
  background-color: var(--primary-Blue) !important;
  color: white !important;
}
.titleHover {
  transition: all 0.6s;
}
.titleHover:hover {
  scale: 1.05;
}
.viewMore {
  transition: all 0.6s;
}
.viewMore:hover {
  color: white;
  font-weight: 600;
}
.autocomplete-container {
  position: relative;
}
.autocomplete-container input {
  width: 100% !important;
  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-right: 31px;
  font-size: 16px;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  background-color: #fff;
  z-index: 99;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}
