:root {
  --primary-Yellow: #f2c879;
  --primary-Sand: #d9c49c;
  --primary-Green: #00a86b;
  --primary-Blue: #1c3659;
  --primary-BlueLight: #0798f2;
  --primary-BlueDark: #171b26;
  --primary-Light: #fff5e1;

  --primary-Gray: #383838c8;
}
body {
  background-color: var(--primary-BlueDark);
}
/* ------------------------------------------ANIMATION------------------------------------------ */
.special {
  color: var(--primary-Orange) !important;
}
.slide-top {
  -webkit-animation: slide-top 1.25s ease-in-out infinite alternate-reverse both;
  animation: slide-top 1.25s ease-in-out infinite alternate-reverse both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-150px);
    opacity: 0;
  }
}

.slide-top2 {
  animation: slide-top2 1.25s ease-in-out 1.25s infinite alternate-reverse both;
}
@keyframes slide-top2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}
/* ---------------------------------------------------------------------------------------------- */
.text-yellow {
  color: var(--primary-Yellow);
}
.text-sand {
  color: var(--primary-Sand);
}
.text-blueLight {
  color: var(--primary-BlueLight);
}
.text-blue {
  color: var(--primary-Blue);
}
.text-green {
  color: var(--primary-Green);
}
.text-blueDark {
  color: var(--primary-BlueDark);
}
.bg-yellow {
  background-color: var(--primary-Yellow);
}
.bg-sand {
  background-color: var(--primary-Sand);
}
.bg-blue {
  background-color: var(--primary-Blue);
}
.bg-bluedark {
  background-color: var(--primary-BlueDark);
}
.border-yellow {
  border-color: var(--primary-Yellow);
}
#footer .border-yellow {
  border-color: var(--primary-Yellow) !important;
}
/* -----------------------------------------------HEADER---------------------------------------- */
#header {
  z-index: 2;
}

.searchInputField,
.searchIcon,
#basic-addon2 {
  transition: all 0.6s;
}
.formSearch {
  border: 2px solid var(--primary-Sand) !important;
}
#formControl {
  background-color: var(--primary-Sand) !important;
}
#formControl::placeholder {
  color: var(--primary-BlueDark) !important;
}

.searchIcon {
  color: var(--primary-Sand);
}
.searchIcon:hover {
  cursor: pointer;
  scale: 1.2;
  color: var(--primary-BlueLight);
}
#navBarUp {
  z-index: 3;
  background-color: var(--primary-BlueDark) !important;
}
#navBarDown {
  z-index: 3;
  background-color: var(--primary-BlueDark);
}

.navHover {
  transition: all 0.6s;
  color: var(--primary-Sand) !important;
}
.navHover:hover {
  scale: 1.1;
  transition: all 0.8s;
  color: var(--primary-BlueLight) !important;
  font-weight: 600;
}
.subNavHover {
  color: var(--primary-BlueLight);
}
.subNavHover:hover {
  transition: all 0.8s;
  font-weight: 600;
}
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------HERO--------------------------------------------- */
#heroSection {
  background-color: var(--primary-Blue);
  height: 66vh;
}
/* ----------------------------------SUBHERO_SEARCH SECTION------------------------------------ */

#SearchHeroSection {
  width: 40%;
  background-color: var(--primary-Sand);
}
#searchContainer {
  background-color: var(--primary-BlueDark);
}

.searchInputField:focus {
  box-shadow: none !important;
  border: 1.5px solid white;
}
.formSearch2 {
  border: 2px solid var(--primary-BlueDark);
  width: 100%;
}
.searchInputField::placeholder {
  color: var(--primary-BlueDark) !important;
}
#basic-addon2 {
  background-color: var(--primary-BlueDark) !important;
}

/* ----------------------------------------------------------------------------------------------- */

.smaller {
  font-size: 0.8em;
}

#footer {
  background-color: var(--primary-BlueDark);
}

#landingPage {
  z-index: 1;
}

/* --------------------------------------------CAROUSELS-------------------------------------------- */

.myCarusel {
  height: 100%;
}
#subAsideSection {
  height: 75vh;
}
.carousel-control-prev-icon {
  position: relative;
  left: -1.5vw;
  scale: 1.2;
}
.carousel-control-next-icon {
  position: relative;
  left: 1.5vw;
  scale: 1.2;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#article {
  transition: all 0.6s;
  cursor: pointer;
}
#article:hover {
  scale: 1.05;
}
