@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Raleway:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Slabo+27px&display=swap");
:root {
  --primary-Yellow: rgb(246, 180, 56);
  --primary-Sand: #d9c49c;
  --primary-Green: #1c594f;
  --primary-Blue: #1c3659;
  --primary-BlueLight: #696bf4;
  --primary-BlueDark: #171b26;
  --primary-Light: #fff5e1;

  --primary-Gray: #383838c8;
}
body * {
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Raleway", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Slabo 27px", serif; */
  /* font-weight: 700; */
}
body {
  background: linear-gradient(
    to bottom,

    var(--primary-BlueLight),
    var(--primary-BlueLight),
    var(--primary-BlueLight),
    rgb(120, 120, 120),
    var(--primary-BlueLight)
  );
}
/* ------------------------------------------ANIMATION------------------------------------------ */
.text-pop-up-top {
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate-reverse both;
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
.text-flicker-in-glow {
  animation: text-flicker-in-glow 6s linear 1s infinite alternate-reverse both;
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}

.slide-top {
  -webkit-animation: slide-top 1.25s ease-in-out infinite alternate-reverse both;
  animation: slide-top 1.25s ease-in-out infinite alternate-reverse both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-150px);
    opacity: 0;
  }
}

.slide-top2 {
  animation: slide-top2 1.25s ease-in-out 1.25s infinite alternate-reverse both;
}
@keyframes slide-top2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}
/* --------------------------------------------PAGINATION-------------------------------------------------- */
html,
body,
#root {
  height: 100%;
}
/* -------------------------------------------MAIN SPECIFICS--------------------------------------------------- */
.text-yellow {
  color: var(--primary-Yellow);
}
.text-sand {
  color: var(--primary-Sand);
}
.text-blueLight {
  color: var(--primary-BlueLight);
}
.text-blue {
  color: var(--primary-Blue);
}
.text-green {
  color: var(--primary-Green);
}
.text-blueDark {
  color: var(--primary-BlueDark);
}
.bg-yellow {
  background-color: var(--primary-Yellow);
}
.bg-sand {
  background-color: var(--primary-Sand);
}
.bg-blue {
  background-color: var(--primary-Blue);
}
.bg-blueLight {
  background-color: var(--primary-BlueLight);
}
.bg-bluedark {
  background-color: var(--primary-BlueDark);
}
.border-yellow {
  border-color: var(--primary-Yellow);
}

/* -----------------------------------------------HEADER---------------------------------------- */
#header {
  z-index: 2;
}

.searchInputField,
.searchIcon,
#basic-addon2 {
  transition: all 0.6s;
}

#navBarUp {
  z-index: 3;
}
#navBarDown {
  z-index: 3;
}
.navHover {
  color: white !important;
}
.navHover:hover {
  scale: 1.1;
  transition: all 0.8s;
  color: var(--primary-BlueLight) !important;
  font-weight: 600;
}
.subNavHover {
  color: white;
}
.subNavHover:hover {
  transition: all 0.8s;
  font-weight: 600;
}
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------HERO--------------------------------------------- */
#heroSection {
  height: 66vh;
}
/* ----------------------------------SUBHERO_SEARCH SECTION------------------------------------ */
#searchHeroSection {
  height: 80vh;
  display: flex;
  align-items: center;
}
.searchInpuwhitetField:focus {
  box-shadow: none !important;
  border: 1.5px solid whitesmoke;
}
.formSearch2 {
  border: 2px solid whitesmoke;
  width: 100%;
}
.searchInputField::placeholder {
  color: whitesmoke !important;
}
#basic-addon2 {
  background-color: whitesmoke !important;
}

/* ----------------------------------------------------------------------------------------------- */

.small {
  font-size: 0.9em;
}
.smaller {
  font-size: 0.8em;
}
.extrasmall {
  font-size: 0.7em;
}
.text-gray {
  color: var(--primary-Gray);
}

#footer {
  background-color: var(--primary-BlueDark);
}

#landingPage,
#accountPage,
#activityPage,
#articlesPage,
#artistPage,
#loginPage {
  background: url("/public/assets/images/details&logo/ondasingolablue.png");
  z-index: 3;
  background-color: linear-gradient(
    to bottom,
    var(--primary-BlueDark),
    var(--primary-BlueLight),
    var(--primary-BlueLight),
    var(--primary-BlueDark)
  );
}

/* --------------------------------------------CAROUSELS-------------------------------------------- */

.myCarusel {
  height: 100%;
}
#subAsideSection {
  height: 75vh;
}
.carousel-control-prev-icon {
  position: relative;
  left: -1.5vw;
  scale: 1.2;
}
.carousel-control-next-icon {
  position: relative;
  left: 1.5vw;
  scale: 1.2;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#article {
  transition: all 0.6s;
  cursor: pointer;
}
#article:hover {
  scale: 1.02;
}
/* ------------------------------------------------------------------------------------------------- */
.loginsignin {
  color: var(--primary-BlueDark);
  transition: all 0.6s;
  width: 270px;
}
.loginsignin:hover {
  cursor: pointer;
  color: var(--primary-Sand);
  scale: 1.06;
}

.pointer:hover {
  cursor: pointer;
}
/* .btn-success {
  background-color: var(--primary-Yellow) !important;
  transition: all 0.6s !important;
  border: 1px solid var(--primary-BlueDark) !important;
  color: var(--primary-BlueDark) !important;
} */
/* .btn-success:hover {
  background-color: #e17878 !important;
  color: white !important;
} */

.btn {
  background-color: var(--primary-Light) !important;
  transition: all 0.6s !important;
  border: 1px solid var(--primary-BlueDark) !important;
  color: var(--primary-Yellow) !important;
}
.btn:hover {
  background-color: var(--primary-Blue) !important;
  color: white !important;
}
.double-o {
  position: absolute;
  left: 0;
  top: 20px;
}
.o2 {
  top: 13px;
}
.titleHover {
  transition: all 0.6s;
}
.titleHover:hover {
  scale: 1.05;
}
/* -----------------------MEDIA------------------------------ */
#freccia-dx {
  position: absolute;
  bottom: 30px;
  right: 90px;
  scale: 0.6;
}

#landing {
  height: 90vh;
}
